<h3>Search By Keyword</h3>
<form method="get" asp-controller="demo5" asp-action="searchByKeyWord">
    Keyword: <input type="text" name="keyword"/>
    <br />
    <button type="submit">Search</button>
</form>

<h3>Search By Prices</h3>
<form method="get" asp-controller="demo5" asp-action="searchByPrices">
    Min: <input type="text" name="min" />
    <br />
    Max: <input type="text" name="max" />
    <br />
    <button type="submit">Search</button>
</form>