<h3>Student List</h3>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var p in @ViewBag.students)
    {
        <tr>
            <td>@p.Id</td>
            <td>
                <a asp-controller="student" asp-action="details" asp-route-id="@p.Id">@p.Name</a>
                
            </td>
        </tr>
    }
</table>