<h3>Index</h3>
<a asp-controller="d3" asp-action="index2">Menu 1</a> <!--Route trả về index2-->
<a asp-controller="d3" asp-action="index3" asp-route-id="123">Menu 2</a>
<a asp-controller="d3" asp-action="index4" asp-route-id="456" asp-route-username="acc1">Menu 3</a>
<a asp-controller="d3" asp-action="index5" asp-route-id="789" asp-route-username="acc2">Menu 4</a>
<a asp-controller="d3" asp-action="index6">Menu 6</a>